$azulescuro: #18294a;
$roxoclaro:#7f25f5ff;
$corfontroxoclaro:rgb(175, 114, 255);
$roxo: #42317cff;
$roxohover: rgb(86, 63, 163);
$backgroundbody: #e4e7ff;
$background: #fefeff;
$corfontclara: #cfcfcf;
$corfontescura: #5e5e5e;

$gradiente: linear-gradient(45deg, rgba(24,41,74,1) 25%, rgba(66,49,124,1) 75%);


$boxshadown: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;